/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Tab Container */
#tabs {
  overflow: hidden;
  background-color: #333; /* Dark background */
  display: flex;
  justify-content: center;
}

/* Tab Buttons */
.tablinks {
  background-color: #333; /* Dark background */
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: background-color 0.3s;
  font-size: 16px;
}

/* Change background color of the active tab */
.tablinks.active {
  background-color: #fff; /* White background */
  color: #333; /* Dark text */
}

/* On hover, change background color of the tab */
.tablinks:hover {
  background-color: #555; /* Slightly lighter background on hover */
}

/* Content inside tabs */
.tabcontent {
  display: none;
  padding: 20px;
}

/* Set font color for tab content */
.tabcontent p {
  color: #333; /* Dark text */
}

/* About me Section */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.photo {
  flex: 0 0 40%;
  max-width: 400px;
  margin-right: 20px; /* Added margin for spacing */
  position: relative; /* Added position relative for absolute positioning */
}

.photo img {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  font-size: 14px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  /* Tab Container */
  #tabs {
    display: block; /* Change to block layout */
  }
  
  /* Tab Buttons */
  .tablinks {
    width: 100%; /* Make buttons full width */
  }
  
  /* Content inside tabs */
  .tabcontent {
    display: block; /* Show content */
  }
  
  /* About me Section */
  .container {
    flex-direction: column; /* Stack items vertically */
    padding: 20px; /* Reduce padding */
  }
  
  .photo {
    margin-right: 0; /* Remove margin */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }
}
